{{#if user}}
{{#if errors}}
<div class="errors-container">
  <h2>{{errors}}</h2>
</div>
{{/if}}

<div class="tweets-container">

  {{#each tweets}}
  <div class='tweets'>
    <h3>#{{name}}</h3><br/>
        <div class='test'>
    {{#each this.tweets.statuses}}

    {{!-- {{var d = new Date(this.created_at)}} --}}
    {{!-- {{d}} --}}
    <li>{{this.text}}</li><br/>

    {{/each}}
        </div>
    </div>
  {{/each}}
</div>

<div class="delete-container">
{{#each user.hashtags}}

  {{!-- #{{this.name}} --}}
  <div class="delete-button">
    <form action='/{{../user.id}}/hashtag/{{this.id}}' method='POST'>
      <input type="hidden" name="_method" value="delete">
      <button type='submit'>Delete {{this.name}}</button>
    </form>
  </div>
{{/each}}
</div>


{{#if tweets}}
there are tweets here
{{/if}}

<form action='/{{user.id}}/hashtag' method='POST'>
  <input type="text" name="name" placeholder="Add a hashtag">
  {{!-- <input type="Submit"> --}}
</form>

{{/if}}
